header {
    background-color: #bbbbbb;
    padding: 20px 0 0;
}

.caixa {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

nav {
    position: absolute;
    top: 126px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;

}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label {
    display: block;
    margin: 0 0 10px;
    font-size: 20px;
}

.inputs-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

footer {
    text-align: center;
    background-image: url(./img/bg.jpg);
    color: #fff;
    padding: 40px 0;
    font-size: 13px;
}