header {
    background-color: #bbbbbb;
    padding: 20px 0 0;
}

.caixa {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

nav {
    position: absolute;
    top: 126px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}