header {
    background-color: #bbbbbb;
    padding: 20px 0 0;
}

.caixa {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

nav {
    position: absolute;
    top: 126px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.banner {
    width: 100%;
}

main {
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.utensilios {
    width: 150px;
}

.imagembeneficios {
    width: 60%;
}

footer {
    text-align: center;
    background-image: url(./img/bg.jpg);
    color: #fff;
    padding: 40px 0;
    font-size: 13px;
}